@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');


:root {
  --background: #1A191DFF;
  --primary: #a91eff;  /* Neon pink */
  --secondary: #00a8ff;
  --button-gradient: linear-gradient(to right top,#15abff, #6d31ed);
  --hover: #7b42f6;
  --text: #ffffff;
  --text-dark: #222026ff;
  --diamond-gradient:linear-gradient(to right top,#15a9ff47, #6d31ed43);

  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    
}

body {
    background-color: var(--background);
    font-family: 'Lexend', sans-serif;
    color: var(--text);
    text-decoration: none;
    scroll-behavior: smooth;


}

/* Nav */

.center-nav {
    padding: 0px 5px 2px 5px;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text);
    border-radius: 50px;
}



/* Hero Section Styles */

.hero {
    background-image: url('/img/racingevents/racingevents-hero.jpg');
    height: 512px;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}


.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--secondary);
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;

}

.cta-button:hover {
    background: var(--button-gradient);
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
    transition: background 0.3s ease;
}

/* welcome section */

.welcome {
    display: block;
    color: var(--text);
    text-align: center;
    

}
.welcome-container {
    text-align: center;
    color: var(--text);
    text-align: center;
    padding: 75px 250px 75px 250px;
}

.welcome-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 18px;
}

/*content styles*/

/*WELCOME*/

/* .welcome {

} */

.welcome-container { 
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 25px 50px 25px 50px;

}

.welcome-container h1 {
    font-size: 36px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.welcome-container p {
    font-size: 14px;
    padding: 0px 120px 0px 120px;
}

/* EVENTS */
.events {
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.4), rgba(255, 192, 203, 0.35));
}

.featured-events h1{
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    padding: 100px;

}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.featured-events-container {
    padding-bottom: 125px;
}
.event-card {
    background-color: var(--background);
    width: 350px;
    height: 550px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.event-card-center {
    background-color: var(--background);
    width: 350px;
    height: 550px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px;
    transform: scale(1.1);
}

.rectangle {
    background-color: var(--primary);
    width: 100%;
    height: 14px;
}

.event-card:hover {
    box-shadow: 0 8px 16px 0 rgba(187, 1, 255, 0.028);

}

.event-img img {
    width: 100%;
    height: auto;
}

.event-info {
    padding: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item i {

    margin-right: 10px;
}

.info-item span {
    flex: 1;
}


.button-container {
    text-align: center;
    padding-bottom: 10px;
}

.event-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-button:hover {
    background-color: var(--hover);
}

/* RACING SERIES */
.racingcategories-container {
    background: linear-gradient(to bottom left, rgba(32, 32, 32, 0.4), rgba(1, 1, 1, 0.446));
    padding:75px 75px 750px 75px;

}
.racingcategories-container h1 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    padding: 25px;
}

.grid-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    transform: translateX(-25%);
}
.diamond-grid-layout {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 60%;
}

.diamond-grid-layout img {
    transform: rotate(-45deg);

}
.diamond-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background: var(--primary);
    transition: background-color .4s;
    overflow: hidden;
    transform: rotate(45deg);
    border-radius: 15px;
    
}
@media only screen and (min-width: 801px) {
    .diamond-item {
        position: absolute;
        margin: -30px;
    }
    .diamond-item1 {
        left: 0;
        bottom: 0;
    }
    .diamond-item2 {
        left: 25%;
    }
    .diamond-item3 {
        left: 50%;
        bottom: 0;
    }
    .diamond-item4 {
        left: 25%;
        bottom: -50%;
    }
    .diamond-grid-layout {
        position: absolute;
        width: 800px;
        height: 400px;
        top: 50%;
        left: 56%;
        
    }
}

.diamond-item img {
    width: 136%;
    height: 136%;
    border-radius: 15px;
    object-fit: cover;
}

.item-content a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


.diamond-item .item-content {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: var(--diamond-gradient);
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    
}
.diamond-item .item-content h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(315deg);
    height: 100%;
    width: 100%;
    font-size: 26px;
    
}
.diamond-item:hover .item-content {
    opacity: 1;
    visibility: visible;
}


@media only screen and (max-width: 800px){
    .diamond-grid-layout {
        display: grid;
        place-content: center;
        padding-top: 175px;
        padding-bottom: 100px;
    }
    .diamond-item {
        width: 180px;
        height: 180px;
    }

    .event-cards{
        padding-top: 50px;
    }
}


.diamond-img {
    transform: rotate(-45deg);
}

.racingcategories-text {
    width: 750px;
    display: flex;
    float: right;
    text-align: center;
    padding-right: 80px;
}

.racingcategories-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* General Footer Styling */

/*Road Racing page*/

/*history*/
.history {
    background-color: var(--background);
}
.history h2 {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
    padding: 25px;
}
.history-text {
    padding: 25px 400px 50px 400px;
    text-align: center;
}
.history-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

/*TimeLine*/
.timeline-section {
    background-image: linear-gradient(to top, #2c2836, #2d2938, #2e2a3a, #302a3d, #312b3f);
}
.timeline-section h1 {
    font-size: 40px;
    text-align: center;
    padding: 50px;
    font-family: var(--font-manrope);
}
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--secondary);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--secondary);
    border: 4px solid var(--secondary);
    top: 70px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 77px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 77px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;

    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
   
   .motorsport-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
   }

.h1-rotate {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.h1-rotate h1 {
    font-family: var(--font-manrope);
    font-size: 50px;
    text-align: center;

}
   
   .card {
    background-color: #111;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }
   
   .card img {
    width: 100%;
    height: 20%;

   }
   
   .card-content {
    padding: 20px;
   }
   
   .card-content h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 10px;
   }
   
   .card-content p {
    margin: 0;
   }

.live-event-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


/*RALLEY*/

/* Events Section with Cards */
.events {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}
.events h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;


    
}

.ralley-event-card{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    margin-bottom: 20px;
    overflow: hidden;

}
.ralley-event-card h3, h4 {
    padding: 5px;
}
.ralley-event-card img{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 200px;
}

.event-button

/* Info Section */
.info {
    padding: 20px;
    background-color: #191919;
    margin: 20px 0;
    border-radius: 5px;
}

/* Gallery Section with Cards */
.gallery {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-card {
    flex: 1 0 21%;
    margin: 5px;
    background-color: transparent;

}

.gallery-card img {
    width: 100%;
    height: auto;
}
.ralley-event-card span {
    padding-left: 2px;
}
.ralley-event-button {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--primary);
    cursor: pointer;
}

.ralley-event-button:hover {
    background-color: var(--hover);
    color: var(--secondary);
}
.ralley-event-button a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

/*register*/

.form-container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, transform 0.3s ease;
    transform: scale(1);
}

.form-container:hover {
    transform: scale(1.02);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    transition: border-color 0.3s ease;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
}

button {

    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

.radiocontainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; /* Adds space between the radio buttons */
}

.radiocontainer input {
    width: 20px;
}

.radiocontainer label {
    width: auto; /* Adjusted to auto to prevent distortion */
}

/* Fix for the "I accept the rules" checkbox */
input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    top: 15px;
}

label[for="acceptRules"] {
    display: flex;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}







   







   

   



