
html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
  }
  
  main {
    flex: 1; 
  }
  
  footer {
    text-align: center; 
    padding: 10px; 
    background-color: #333; 
    color: white; 
  }
  
  .card-row {
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 20px; 
    margin: 0 auto 80px; 
    margin-top: 20px;
    max-width: 1200px; 
  }
  
  .card {
    background-color: #333; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 10px; 
    text-align: center; 
    width: 300px; 
    height: 200px; 
    color: inherit; 
    text-decoration: none;
    
  }
  
  .logo{
    z-index: 10;
  }

  .card img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px; 
  }

  .hero{
    background-image: url('/img/locations/bad-bleiberg-region-villach-tourismus-gmbh-arthur-mrsel.jpg');
    height: 512px;
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    display: inline-block; 
    background-color: black; 
    padding: 5px 10px; 
    border-radius: 5px; 
    border-radius: 12px;
    opacity: 0.8;
}

.hero-content h1, .hero-content p {
    color: white; 
}

.content {
  padding: 20px; 
}

#contact-form {
  max-width: 600px; 
  margin: 0 auto; 
  background: #f7f7f7; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

label {
  font-weight: bold; 
  display: block; 
  margin-bottom: 10px; 
}

input, textarea {
  width: 100%; 
  padding: 10px; 
  padding-left: 0px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

button {
  background: #333; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background 0.3s; 
}

button:hover {
  background: #555; 
}

.contact-button {
  display: inline-block; 
  background: #333; 
  color: white;
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none; 
  font-weight: bold; 
  transition: background 0.3s;
 
}

.contact-button:hover {
  background: #555; 
}
