/* ROOT */
:root {
  --background: #1A191DFF;
  --primary: #6D31ED;  
  --secondary: #00a8ff;
  --button-gradient: linear-gradient(to right top, #32BF84, #3299BF);
  --button-hover-gradient: linear-gradient(to right top, #28A76A, #2878A7);
  --hover: #32BF84;
  --text: #ffffff;
  --text-dark: #222026ff;
  --card-bg: #333;
  --btn-bg: #fff;
  --btn-text: #000;
  --slider-bg: #1A191DFF;
}
/* END OF ROOT */

/* RESET OF DEFAULT */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* SETTING DEFAULT STYLING OF BODY */
body {
    background-color: var(--background);
    font-family: "Manrope";
    color: var(--text);
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



header {
    background-color: var(--background);
    padding: 10px 15px 10px 15px; 
    
} 

/* START OF NAV STYLING */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
    padding: 3px;
    width: 100%;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 18px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  margin: 0; 
  text-align: center;
}

nav ul li {
  margin: 0 15px;
  font-family: "Lexend";
  display: inline-block; 
}

nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  font-weight: 550;
  position: relative; 
  display: inline-block; 
  padding-bottom: 5px;
  overflow: hidden; 
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; 
  right: 50%;
  width: 0; 
  height: 3px; 
  background-color: var(--hover); 
  border-radius: 3px; 
  transition: all 0.3s ease; 
}

nav ul li a:hover::after {
  width: 100%; 
  left: 0; 
  right: 0;
  transform: translateX(0%); 
}

nav ul li a:hover {
  color: var(--hover); 
}

nav ul li a.active {
  color: var(--hover);
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column; 
  }

  nav ul li {
      margin: 10px 0; 
  }
}

.login a {
  background-image: var(--button-gradient);
  color: var(--text);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-image 0.3s linear, padding 0.3s linear;
  display: inline-block;
  width: auto; 
  font-size: 16px;
  font-weight: 435;
  margin: auto 0 6px; 
  cursor: pointer;
  font-family: "Lexend";
  }
  
  .login a:hover {
      background-image: var(--button-hover-gradient);;
    
  }
/* END OF NAV STYLING */

/* START OF HERO STYLING */
.hero {
  position: relative;
  background-color: #1A191DFF; 
  text-align: center;
  padding: 50px 20px; 
}

.hero-content {
  position: relative;
  color: white;
  z-index: 2; 
}

.hero-content h1 {
  font-size: 3em; 
  margin-bottom: 30px;
  font-family: "Lexend";
}

.hero-content p {
  font-size: 1.2em; 
  margin-bottom: 30px; 
  font-family: "Manrope";
}

.hero-content .hero-image {
  
  border-radius: 8px;
  display: block;
  margin: 0 auto 30px; 
  max-width: 100%;
  width: 1176px; 
  height: 299px;
  z-index: 1;
}
/* partner with us button */
.hero-content .cta-button {
  
  background-image: var(--button-gradient);
  color: var(--text);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-image 0.3s linear, padding 0.3s linear;
  display: inline-block;
  width: auto; 
  font-size: 16px;
  font-weight: 435;
  margin: auto 0 30px; 
  cursor: pointer;
  font-family: "Lexend";
}

.hero-content .cta-button:hover{
  background-image: var(--button-hover-gradient);
}
/* end of partner with us button */
/* END OF HERO STYLING */
/* START OF THE CARD STYLING FOR EVENT STAFF */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%; 
}

.cards-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.nav-button {
background-image: var(--button-gradient); 
width: 30px; 
height: 30px; 
border-radius: 50%; 
border: none; 
display: flex; 
justify-content: center; 
align-items: center; 
cursor: pointer;
position: relative; 
z-index: 10;
transition: all 0.3s ease; 
}

.nav-button .fas {


font-size: 0.8em; 
color: white; 
}
.nav-button.prev {
  position: absolute;
  left: -45px; 
}

.nav-button.next {
  position: absolute;
  right: -45px; 
}



.cards:hover .nav-button.prev {
  margin-left: -35px; 
}

.cards:hover .nav-button.next {
  margin-right: -35px; 
}


.cards-container:hover .nav-button.prev {
  margin-left: -35px; 
}

.cards-container:hover .nav-button.next {
  margin-right: -35px; 
}



@media (max-width: 1200px) {
  .nav-button.prev, .nav-button.next {
    position: static; 
    transform: none; 
    margin: 10px 0; 
  }
}
/* styling for the actual row */
.cards-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 50px; 
  margin: 0 auto 80px; 
  max-width: 1200px; 
  padding-left: 10px; 
  box-sizing: border-box; 
  padding-left: 40px;
}
/* overall styling */
.cards-title-hosts,
.cards-title-organizers,
.cards-title-sponsors {
  text-decoration: none;
  font-family: Lexend; 
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #96949AFF;
  margin: 0; 
  padding-left: 10px; 
  box-sizing: border-box; 
}

/* individual cards */
.card {
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 20px;
  margin: 10px; 
  width: 300px; 
  color: rgb(171, 167, 180);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 40;
}

.card h3{
  font-family: "Lexend";
  font-weight: 500;
}

.card:hover {
  transform: scale(1.05); 
  background-color: rgba(97, 95, 95, 0.584);
  transition: background-color 0.3s;
}

/* responsive styling */
@media (max-width: 1200px) {
  .cards-row {
    padding-left: 10px; 
  }

  .cards-title-hosts,
  .cards-title-organizers,
  .cards-title-sponsors {
    padding-left: 10px; 
  }
}

@media (max-width: 767px) {
  .cards-title-hosts,
  .cards-title-organizers,
  .cards-title-sponsors {
    padding-left: 10px; 
  }
}
/* END OF CARD STYLING */

/* START OF FOOTER STYLING */
  footer {
      border-top: black solid 1px;
      background-color: var(--background); 
      color: white; 
      padding: 20px 0; 
      font-family: 'Manrope', sans-serif; 
      margin-left: 20px;
      margin-right: 20px;
  }
  
  .footer-logo {
      display: flex;
      justify-content: center; 
      align-items: center; 
      position: relative; 
  }
  
  .footer-logo img {
      max-width: 40px; 
      margin-bottom: 20px; 
      position: relative;
      right: 49%; 
      transform: translateX(50%); 
      border-radius: 18px;
  }
  

  .footer-menu,
  .footer-subscription,
  .footer-social,
  .footer-bottom {
      text-align: center; 
      margin-bottom: 20px; 
      color: rgb(171, 167, 180);
  }

  .footer-menu h3 {
      color: rgb(171, 167, 180);
      font-family: "Lexend";
      margin: 0; 
      padding: 10px; 
      font-size: 1.25em; 
  }
  
  .footer-menu h3 a {
      color: inherit; 
      text-decoration: none; 
  }

  .footer-menu ul {
      list-style-type: none; 
      padding: 0; 
      margin: 0; 
  }
  
  .footer-menu li a {
      font-family: "Manrope";
      color: rgb(171, 167, 180); 
      text-decoration: none; 
      margin: 0 10px; 
  }
  
  .footer-subscription input[type="email"] {
      padding: 10px;
      margin-top: 10px;
      margin-right: 5px;
      border: none;
      border-radius: 5px;
  }
  
  .footer-subscription p{
      font-size: 13px;
  }

  .footer-subscription button {
      font-family: "Lexend";
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-image: var(--button-gradient); 
      color: white;
      cursor: pointer;
      transition: background-image 0.3s linear, padding 0.3s linear;
  }
  
  .footer-subscription button::hover{
      background-image: var(--button-hover-gradient);
  }
  .footer-social a {
      margin: 0 10px; 
  }
  
  .footer-social img {
      width: 24px; 
      height: auto;
  }
  
  .footer-info {
      margin: 0 auto; 
      font-size: 0.75rem; 
      border-top: 1px solid #000; 
      padding-top: 10px; 
      justify-content: space-between; 
      align-items: center;
      color: rgb(171, 167, 180);
  }
  
  /* responsive styling */
  @media (max-width: 768px) {
      .footer-bottom {
          flex-direction: column; 
      }
  
      .footer-language,
      .footer-info {
          margin: 10px 0; 
      }
  }

  /* END OF FOOTER STYLING */

  /* START OF PARTNER WITH US FORM */
  #description{
    height: 380px;
  }

  .form-options{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .radio-group,
  .checkbox-group{
    margin-top: 1rem;
  }

  .radio-group .radio,
  .checkbox-group .checkbox{
    margin-bottom: 0.5rem;
  }

  div#termsConditionsID{
    margin-right: 14px;
  }
/* selector of who they are */
  .radio-group{
    flex-grow: 1;
  }

  .checkbox-group{
    flex-grow: 1;
    text-align: right;
  }

  .form-group label{
    display: block;
    margin-bottom: 0.5em;
    font-family: "Manrope";
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group select,
  .form-group textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 1rem; 
      border: 1px solid #ccc;
      border-radius: 4px;
      font-family: "Manrope";
  }

  .form-container {
    max-width: 600px;
    margin: 2rem auto;
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.form-instruction {
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    width: 48%;
}
/* agreement checkboxes */
.checkboxes {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-options label,
.checkboxes label {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
}

.radio {
    margin-bottom: 1rem;
}

.radio-options {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: .5rem;
}

.radio-options input[type="radio"],
.checkboxes input[type="checkbox"] {
    margin-top: 0;
    vertical-align: middle;
}

.submit-button {
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    width: auto;
    padding: 1rem;
    border: none;
    background-image: var(--button-gradient);
    color: var(--text);
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
    transition: background-image 0.3s linear, padding 0.3s linear;
    font-family: "Lexend";
}

.submit-button:hover{
  background-image: var(--button-hover-gradient);
}

.form-container h1{
  font-family: "Lexend";
}

/* responsive stuff */
@media (max-width: 768px) {
    .form-options{
      flex-direction: column;
    }
    .checkbox-group{
      text-align: left;
    }
    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        width: 100%;
    }

}


.checkbox input[type='checkbox'] {
  display: none;
}

.checkbox label {
  position: relative;
  padding-left: 25px; 
  cursor: pointer;
}

.checkbox label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #f8f9fa;
}

.checkbox input[type='checkbox']:checked + label::before {
  background-color: #ff6700;
  border-color: #ff6700;
}

.checkbox input[type='checkbox']:checked + label::after {
  content: '✓';
  position: absolute;
  top: 0px; 
  left: 3px; 
  font-size: 12px; 
  color: #fff;
}


.radio input[type='radio'] {
  display: none;
}

.radio label {
  position: relative;
  padding-left: 25px; 
  cursor: pointer;
}

.radio label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: #f8f9fa;
}

.radio input[type='radio']:checked + label::before {
  background-color: #ff6700;
  border-color: #ff6700;
}

.radio input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 4px; 
  left: 4px; 
  width: 8px; 
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

/* CSS FOR BLOG POSTS */
.blog-post {
display: flex;
flex-direction: column; 
align-items: center; 
padding: 40px; 
background-color: var(--card-bg); 
border-radius: 10px; 
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
margin-left: 250px;
margin-right: 250px;
margin-top: 50px;
margin-bottom: 50px;
}

.blog-post h2 {
font-size: 36px; 
text-align: center; 
font-weight: bold; 
margin-bottom: 20px;
color: var(--text);
}

.blog-post img {
width: 80%; 
border-radius: 10px; 
margin-bottom: 20px; 
}

.category {
font-size: 12px; 
color: var(--text); 
text-align: left; 
margin-bottom: 10px; 
background-image: var(--button-gradient);
padding: 6px 10px;
border-radius: 18px;
}

.blog-content {
width: 80%; 
text-align: justify; 
line-height: 1.6; 
}

.blog-content h3 {
font-size: 24px; 
font-weight: bold; 
text-align: left; 
margin-bottom: 15px; 
color: var(--text);
}

.blog-content h4 {
font-size: 20px; 
text-align: left; 
font-weight: bold; 
margin-bottom: 10px; 
color: var(--text);
}

.blog-content p {
font-size: 16px; 
color: #666; 
text-align: justify; 
margin-bottom: 15px; 
}
/* END OF BLOG STYLING */

/* START OF GALLERY STYLING */
.gallery {
text-align: center;
padding: 2rem;
}

.gallery h2 {
color: white; 
font-size: 2rem;
margin-bottom: 1rem;
}

.gallery p {
color: #9b9b9b; 
font-size: 1.2rem;
margin-bottom: 2rem;
}

.gallery-grid {
display: grid;
grid-template-columns: repeat(4, 1fr); 
grid-template-rows: repeat(4, auto); 
gap: 1rem; 
}

.gallery-item.large {
grid-column: 1 / 3; 
grid-row: 1 / 3; 
}

.gallery-item {
padding: 1rem;
}

.gallery-item img {
width: 100%; 
height: auto; 
border-radius: 8px; 
}
/* END OF GALLERY STYLING */